<!-- Dashboard -->

<!-- Separator -->
<div class="menu-item">
  <div class="menu-content pt-8 pb-2">
    <span class="menu-section text-muted text-uppercase fs-8 ls-1"
      >Módulos permitidos</span
    >
  </div>
</div>

<!-- Pages -->
<div
  class="menu-item menu-accordion"
  data-kt-menu-trigger="click"
  routerLinkActive="here show"
>
  <span class="menu-link">
    <span class="menu-icon">
      <i class="fa-solid fa-users"></i>

    </span>
    <span class="menu-title">Usuarios</span>
    </span>
</div>

<!-- Changelog  -->
<div class="menu-item">
  <a target="_blank" class="menu-link" [href]="appPreviewChangelogUrl">
    <span class="menu-icon">
      <span
        class="svg-icon svg-icon-2"
        [inlineSVG]="'./assets/media/icons/duotune/general/gen005.svg'"
      ></span>
    </span>
    <span class="menu-title">Changelog {{ appAngularVersion }}</span>
  </a>
</div>
